@font-face {
  font-family: "helios";
  src: url("../banner-font/heliosc.eot?#iefix") format("embedded-opentype"), url("../banner-font/heliosc.otf") format("woff"), url("../banner-font/heliosc.ttf") format("truetype"), url("../banner-font/heliosc.svg#helios") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "helios-compressedbold";
  src: url("../banner-font/heliosextracompressedc.eot?#iefix") format("embedded-opentype"), url("../banner-font/heliosextracompressedc.otf") format("woff"), url("../banner-font/heliosextracompressedc.ttf") format("truetype"), url("../banner-font/heliosextracompressedc.svg#helios") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "helios-light-c";
  src: url("../banner-font/helios-cond-light.eot?#iefix") format("embedded-opentype"), url("../banner-font/helios-cond-light.otf") format("woff"), url("../banner-font/helios-cond-light.ttf") format("truetype"), url("../banner-font/helios-cond-light.svg#helios") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "helios-thin";
  src: url("../banner-font/heliosthinc.eot?#iefix") format("embedded-opentype"), url("../banner-font/heliosthinc.otf") format("woff"), url("../banner-font/heliosthinc.ttf") format("truetype"), url("../banner-font/heliosthinc.svg#helios") format("svg");
  font-style: normal;
  font-weight: normal;
}
body {
  font-size: 14px;
  height: 250px;
  width: 300px;
  margin: 0;
  font-family: "helios", arial;
}

.presentation {
  width: 300px;
  height: 250px;
  overflow: hidden;
  display: block;
  background: #508ec4;
  border: 1px solid #000;
  color: #fff;
  line-height: 1;
  font-family: "helios-light-c", arial;
  font-size: 18px;
  text-decoration: none;
}
.presentation__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 31px;
  font-family: "helios-light-c";
}
.presentation__date {
  background: url(../banner-images/rectangle.svg) center center no-repeat;
  background-size: contain;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  padding: 5px 10px 15px 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "helios-light-c", arial;
  margin-left: -5px;
  margin-right: -10px;
}
.presentation__date-big {
  font-size: 36px;
  font-family: "helios-light-c", arial;
}
.presentation__title {
  flex-grow: 1;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}
.presentation__image-text {
  text-align: right;
  padding-right: 33px;
  margin-top: -16px;
}
.presentation__image-bg {
  background: url(../banner-images/hazin-2x.jpg) no-repeat center center;
  background-size: cover;
  text-align: right;
  padding: 0 10px;
  font-size: 40px;
  font-family: "helios-compressedbold", arial;
}
.presentation__image-big-text {
  font-size: 51px;
  margin-top: -10px;
}
.presentation__animate-text {
  font-size: 34px;
  padding: 5px 5px;
  line-height: 1;
  height: 80px;
  position: relative;
}

.presentation__animate-item {
  position: absolute;
  padding: 10px 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.presentation__animate-item.active {
  z-index: 2;
}
.presentation__animate-item.active .presentation__animate-top-text, .presentation__animate-item.active .presentation__animate-bottom-text {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.presentation__animate-item.active .presentation__animate-button {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.presentation__animate-item:after {
  display: block;
  content: "";
  clear: both;
}
.presentation__animate-item.button-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation__animate-top-text, .presentation__animate-bottom-text {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.presentation__animate-top-text:after, .presentation__animate-bottom-text:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ca3726;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.presentation__animate-top-text span, .presentation__animate-bottom-text span {
  position: relative;
  z-index: 1;
}

.presentation__animate-bottom-text {
  margin-top: 5px;
  float: right;
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}

.presentation__animate-button {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  cursor: pointer;
  line-height: 40px;
  padding: 0 20px;
  background: #ca3726;
  box-shadow: 0 2px 0 0 #8d1b0e;
  border-radius: 4px;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.presentation__animate-button:hover {
  box-shadow: 0 2px 0 0 #8d1b0e, 0 0 0 500px rgba(0, 0, 0, 0.1) inset;
}
.presentation__animate-button span {
  display: inline-block;
  vertical-align: middle;
}
.presentation__animate-button:after {
  display: inline-block;
  vertical-align: middle;
  border: 5px solid transparent;
  border-left: 7px solid #fff;
  content: "";
  margin-left: 10px;
}

/*# sourceMappingURL=banner.css.map */
