.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri-clock {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -253px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-clock {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -253px;
    height: 40px;
    width: 40px;
  }
}

.fri-microphone {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -693px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-microphone {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -693px;
    height: 40px;
    width: 26px;
  }
}

.fri-flag {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -398px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-flag {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -398px;
    height: 40px;
    width: 40px;
  }
}

.fri-heart {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -539px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 46px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-heart {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -539px;
    height: 40px;
    width: 46px;
  }
}

.fri-man {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -605px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-man {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -605px;
    height: 40px;
    width: 40px;
  }
}

.fri-circle-point {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -230px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-circle-point {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -230px;
    height: 18px;
    width: 18px;
  }
}

.fri-mixer {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -738px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 52px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-mixer {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -738px;
    height: 52px;
    width: 52px;
  }
}

.fri-graph {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -482px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 52px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-graph {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -482px;
    height: 52px;
    width: 52px;
  }
}

.fri-cog {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -298px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 52px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-cog {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -298px;
    height: 52px;
    width: 52px;
  }
}

.fri-piechart {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -897px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-piechart {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -897px;
    height: 50px;
    width: 50px;
  }
}

.fri-target {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -1218px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-target {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -1218px;
    height: 50px;
    width: 50px;
  }
}

.fri-shape-circle {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -1085px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-shape-circle {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -1085px;
    height: 30px;
    width: 30px;
  }
}

.fri-circle-d {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -173px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 52px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-circle-d {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -173px;
    height: 52px;
    width: 52px;
  }
}

.fri-web {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -1392px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 52px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-web {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -1392px;
    height: 52px;
    width: 52px;
  }
}

.fri-books {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -43px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 52px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-books {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -43px;
    height: 44px;
    width: 52px;
  }
}

.fri-mt4 {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -795px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 54px;
  width: 96px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-mt4 {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -795px;
    height: 54px;
    width: 96px;
  }
}

.fri-rub {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -1028px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 53px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-rub {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -1028px;
    height: 52px;
    width: 53px;
  }
}

.fri-star {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -1120px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 38px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-star {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -1120px;
    height: 38px;
    width: 38px;
  }
}

.fri-circle-d-small {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -134px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-circle-d-small {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -134px;
    height: 34px;
    width: 34px;
  }
}

.fri-graph-small {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -443px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-graph-small {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -443px;
    height: 34px;
    width: 34px;
  }
}

.fri-web-small {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -1353px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-web-small {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -1353px;
    height: 34px;
    width: 34px;
  }
}

.fri-success {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -1163px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-success {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -1163px;
    height: 50px;
    width: 50px;
  }
}

.fri-remove-icon {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -1007px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-remove-icon {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -1007px;
    height: 16px;
    width: 16px;
  }
}

.fri-visa {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -1310px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 61px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-visa {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -1310px;
    height: 38px;
    width: 61px;
  }
}

.fri-mastercard {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -650px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-mastercard {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -650px;
    height: 38px;
    width: 60px;
  }
}

.fri-amex {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 61px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-amex {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 0;
    height: 38px;
    width: 61px;
  }
}

.fri-discover {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -355px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 61px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-discover {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -355px;
    height: 38px;
    width: 61px;
  }
}

.fri-paypal {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -854px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 61px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-paypal {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -854px;
    height: 38px;
    width: 61px;
  }
}

.fri-lock-icon {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -584px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-lock-icon {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -584px;
    height: 16px;
    width: 14px;
  }
}

.fri-play-btn {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -952px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-play-btn {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -952px;
    height: 50px;
    width: 50px;
  }
}

.fri-vip-text {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -1273px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 284px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-vip-text {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -1273px;
    height: 32px;
    width: 284px;
  }
}

html, body {
  background: #fff;
}

body {
  color: #152844;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 15px 0 0 0;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

iframe {
  width: 100%;
}

.uk-container {
  max-width: 1201px;
  padding: 0 15px;
  width: 100%;
  min-width: 320px;
}

.uk-button {
  max-width: 200px;
  width: 100%;
  height: 52px;
  border-radius: 3px;
  line-height: 50px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.6px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.uk-button:active, .uk-button:visited, .uk-button:focus {
  background-color: #ffffff;
}
.uk-button:hover {
  background-color: #152844;
  color: #fff;
}
.uk-button .btn1-plus {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -113px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
  margin-right: 7px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .uk-button .btn1-plus {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -113px;
    height: 16px;
    width: 16px;
  }
}

.uk-margin-large-top {
  margin-top: 60px !important;
}

.uk-margin-small-top {
  margin-top: 40px !important;
}

.uk-slidenav {
  display: inline-block !important;
  color: #00b0f4 !important;
}

.uk-navbar {
  padding: 27px 0;
  background: transparent;
}

.uk-navbar-brand {
  padding: 0;
}

.uk-navbar-flip {
  padding: 0;
}

.uk-form {
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
}
.uk-form input:not([type]),
.uk-form input[type=text],
.uk-form input[type=password],
.uk-form input[type=email],
.uk-form input[type=url],
.uk-form input[type=search],
.uk-form input[type=tel],
.uk-form input[type=number],
.uk-form input[type=datetime],
.uk-form input[type=datetime-local],
.uk-form input[type=date],
.uk-form input[type=month],
.uk-form input[type=time],
.uk-form input[type=week],
.uk-form input[type=color],
.uk-form select,
.uk-form textarea {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 0 15px 0 165px;
  background: transparent;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.uk-form input:not([type]):focus, .uk-form input:not([type]):active,
.uk-form input[type=text]:focus,
.uk-form input[type=text]:active,
.uk-form input[type=password]:focus,
.uk-form input[type=password]:active,
.uk-form input[type=email]:focus,
.uk-form input[type=email]:active,
.uk-form input[type=url]:focus,
.uk-form input[type=url]:active,
.uk-form input[type=search]:focus,
.uk-form input[type=search]:active,
.uk-form input[type=tel]:focus,
.uk-form input[type=tel]:active,
.uk-form input[type=number]:focus,
.uk-form input[type=number]:active,
.uk-form input[type=datetime]:focus,
.uk-form input[type=datetime]:active,
.uk-form input[type=datetime-local]:focus,
.uk-form input[type=datetime-local]:active,
.uk-form input[type=date]:focus,
.uk-form input[type=date]:active,
.uk-form input[type=month]:focus,
.uk-form input[type=month]:active,
.uk-form input[type=time]:focus,
.uk-form input[type=time]:active,
.uk-form input[type=week]:focus,
.uk-form input[type=week]:active,
.uk-form input[type=color]:focus,
.uk-form input[type=color]:active,
.uk-form select:focus,
.uk-form select:active,
.uk-form textarea:focus,
.uk-form textarea:active {
  background: transparent;
  color: #fff;
}
.uk-form input[type=submit] {
  border-radius: 3px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
  width: 240px;
}
.uk-form input[type=submit]:hover {
  background-color: #00b0f4;
}
.uk-form .uk-form-row {
  border-bottom: 1px solid #00b0f4;
  padding: 0 0 12px 0;
  position: relative;
}
.uk-form .uk-form-help-inline {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 18px;
  color: #00b0f4;
  margin: 0;
  max-width: 145px;
  width: 100%;
  font-weight: 300;
}

.uk-form-row + .uk-form-row {
  margin-top: 38px;
}

.uk-article {
  width: 274px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e7e9ec;
  padding: 45px 20px;
  height: 566px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  z-index: 1;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.uk-article:hover {
  box-shadow: 0 12px 42px 12px rgba(0, 0, 0, 0.08);
  border-color: #fff;
  z-index: 2;
}
.uk-article:hover .uk-button {
  background-color: #00b0f4;
  color: #fff !important;
}
.uk-article > .fri {
  position: absolute;
  right: 0;
  top: 0;
}
.uk-article .uk-article-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  color: #152844;
  text-align: center;
  margin: 0;
}
.uk-article .uk-article-lead {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #152844;
  margin: 22px 0 0 0;
}
.uk-article .uk-article-lead .price {
  font-size: 33px;
  font-weight: 600;
  color: #00b0f4;
  margin-right: 5px;
}
.uk-article .uk-article-divider {
  margin: 28px 0 18px 0;
  height: 2px;
  background-color: rgba(20, 39, 68, 0.1);
  border: none;
}
.uk-article .uk-button {
  border: solid 1px #00b0f4;
  color: #00b0f4;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -100px;
}
.uk-article .uk-button:visited, .uk-article .uk-button:active, .uk-article .uk-button:focus {
  color: #00b0f4;
}
.uk-article .uk-button:hover {
  background-color: #00b0f4;
  color: #fff;
}
.uk-article .article-list {
  margin: 0 -15px 0 -15px;
}
.uk-article .article-list li {
  text-align: center;
  margin: 0 auto 20px auto;
  color: #152844;
  font-size: 0;
  position: relative;
}
.uk-article .article-list li p {
  display: inline-block;
  position: relative;
  font-size: 14px;
  margin: 0;
  vertical-align: top;
}
.uk-article .article-list-circle {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #00b0f4;
  vertical-align: middle;
  margin-right: 5px;
}

.header {
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-width: 320px;
}
.header [class^="section__text"] {
  margin-top: 6px;
}
.header__title {
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 27px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .header__title {
    font-size: 18px;
  }
}
.header__title_text {
  font-weight: normal;
  text-align: center;
  margin: 35px 0 45px 0;
  font-size: 24px;
  color: #ffffff;
  line-height: 32px;
}
@media screen and (max-width: 480px) {
  .header__title_text {
    font-size: 18px;
    line-height: 1.2;
  }
}
.header__title_text > span {
  color: #00b0f4;
  border-bottom: dashed 1px #00b0f4;
}
@media screen and (max-width: 480px) {
  .header__title_text > span {
    display: block;
    border-bottom: 0;
  }
}
.header__title_large {
  font-size: 70px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  margin-top: 34px;
}
@media screen and (max-width: 480px) {
  .header__title_large {
    font-size: 22px !important;
    line-height: 1.2;
  }
}
.header__title_large > span {
  font-size: 18px;
  font-weight: 300;
  display: block;
  color: #ffffff;
  text-align: center;
  margin-top: 36px;
}
.header__title_info {
  font-size: 24px;
  line-height: 1.24;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  text-align: center;
  margin: 39px 0 0 0;
}
@media screen and (max-width: 480px) {
  .header__title_info {
    font-size: 18px !important;
    line-height: 1.2;
  }
}
.header__title_info .mrs-10 {
  color: #fff;
  border: none;
}
@media screen and (max-width: 480px) {
  .header__title_info .mrs-10 {
    display: none;
  }
}
.header__title_info > span {
  color: #00b0f4;
  border-bottom: dashed 1px #00b0f4;
}
@media screen and (max-width: 480px) {
  .header__title_info > span {
    display: block;
    border-bottom: 0;
  }
}
.header__info {
  max-width: 940px;
  width: 100%;
  margin: 32px auto 57px;
}
.header__btns {
  margin-bottom: 66px;
}
.header__btns_btn {
  border-radius: 4px;
  background-color: #00b0f4 !important;
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.9px;
  max-width: 222px;
  width: 100%;
}
.header__btns_btn:visited, .header__btns_btn:active, .header__btns_btn:focus {
  background-color: #00b0f4 !important;
  color: #fff !important;
}
.header__btns_btn:hover {
  background: #00a1e0 !important;
}
.header__btns_link {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #00b0f4;
}
.header__btns_link:visited, .header__btns_link:active, .header__btns_link:focus {
  color: #00b0f4;
}
.header__btns_link:hover {
  color: #fff;
  text-decoration: none;
}
.header__btns_text {
  margin: 0 27px;
  color: #fff;
  font-size: 15px;
}

.header__info .uk-grid {
  justify-content: center;
}

.logo {
  max-width: 248px;
  width: 100%;
}

.advertise-text {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  line-height: 52px;
  color: #ffffff;
  text-align: center;
}

.advertise-btn .btn1-plus {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -92px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .advertise-btn .btn1-plus {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -92px;
    height: 16px;
    width: 16px;
  }
}
.advertise-btn:hover .btn1-plus {
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -113px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .advertise-btn:hover .btn1-plus {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -113px;
    height: 16px;
    width: 16px;
  }
}

.reg-form-wrap {
  background-image: url('../images/reg-form-bg.jpg?1478775924');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1170px 418px;
  padding: 52px 0;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .reg-form-wrap {
    background-image: url('../images/reg-form-bg@2x.jpg?1478775924');
  }
}
.reg-form-wrap input.error + span.uk-form-help-inline {
  color: #dd0000;
}

.uk-navbar-flip {
  overflow: hidden;
}

.nav-info {
  float: left;
}
.nav-info:not(:first-child) {
  margin-left: 56px;
}
.nav-info a {
  line-height: 53px;
}
.nav-info.lang-info {
  color: #fff;
}
.nav-info.lang-info a {
  letter-spacing: 1.3px;
  color: #fff;
  text-decoration: none;
}
.nav-info.lang-info a:focus, .nav-info.lang-info a:active, .nav-info.lang-info a:visited {
  color: #fff;
}
.nav-info.lang-info a.uk-active, .nav-info.lang-info a:hover {
  color: #89a7aa;
}
.nav-info.phone-info {
  margin-top: 17px;
  text-align: right;
}
.nav-info.phone-info a {
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
.nav-info.phone-info a.mail-info {
  display: block;
  font-size: 12px;
  color: #00b0f4;
}

.section, .section__blue {
  max-width: 1170px;
  background-color: #ffffff;
  box-shadow: 0 12px 42px 12px rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 56px;
  margin: 28px auto;
}
.section__blue {
  background: #00b0f4;
}

.section__blue .uk-grid {
  align-items: center;
}

.section-row {
  margin: 0 -56px 0 -56px;
}

.section-about {
  padding-bottom: 0;
}
.section-about .section__text {
  margin-top: 23px;
}
.section-about .uk-margin-small-top {
  margin-top: 38px !important;
}
.section-about iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section__title_info {
  margin-top: 20px;
}

.section__title {
  margin-top: 20px;
}

.section__text {
  margin-top: 22px;
}

.speakers-guests {
  margin-top: 32px;
  padding-bottom: 55px;
}
.speakers-guests .section__icon_block {
  margin-top: 8px;
}
.speakers-guests .section__title_info {
  margin-top: 12px;
}
.speakers-guests .uk-margin-large-top {
  margin-top: 41px !important;
}
.speakers-guests .uk-switcher .section__text {
  margin-top: 9px;
}
.speakers-guests .uk-grid .section__text {
  margin-top: 11px;
}

.section-timing .section__icon_block {
  margin-top: 6px;
}
.section-timing .section__title_info {
  margin-top: 12px;
}

.about-slideset li {
  position: relative;
  overflow: hidden;
}
.about-slideset li img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.about-slideset li:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.about-slideset li:hover .overlay {
  bottom: 0;
}
.about-slideset li .fri-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin-top: -25px;
  margin-left: -25px;
}
.about-slideset li .overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: -100%;
  padding: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.about-slideset li .overlay .overlay__info {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  display: table;
}
.about-slideset li .overlay .overlay__info p {
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  margin: 0;
  display: table-cell;
}

.contacts-grid > div {
  background-size: cover;
}
.contacts-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[class^="section__title"] {
  font-size: 33px;
  font-weight: 600;
  line-height: 1.21;
  color: #152844;
  text-align: center;
}

[class^="section__title_info"] {
  font-size: 15px;
  letter-spacing: 0;
  text-align: center;
  color: #89a7aa;
  text-transform: uppercase;
  font-weight: 300;
}

[class^="section__text"] {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  color: #152844;
  margin: 15px 0 0 0;
}
[class^="section__text"] + [class^="section__text"] {
  margin: 0;
}

[class^="section__icon_block"] {
  text-align: center;
  margin-top: 10px;
}

[class^="section__switcher"] {
  list-style: none;
  text-align: center;
  margin: 0;
}
[class^="section__switcher"] > li {
  display: inline-block;
  margin: 22px 0 30px 0;
}
[class^="section__switcher"] > li:not(:last-child) {
  margin-right: 20px;
}
[class^="section__switcher"] > li.uk-active a {
  color: #152844;
  border-color: transparent !important;
}

a[class^="section__title_link"] {
  color: #00b0f4;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px dashed #00b0f4 !important;
}
a[class^="section__title_link"].vip {
  border-bottom: 1px dashed #d5a93b !important;
}
a[class^="section__title_link"]:visited, a[class^="section__title_link"]:focus {
  color: #00b0f4;
  border-color: #00b0f4;
}
a[class^="section__title_link"]:hover, a[class^="section__title_link"]:active {
  color: #152844;
  border-color: transparent !important;
}

[class*="--clight"] {
  color: #fff;
}

.uk-panel {
  max-width: 510px;
  width: 100%;
  margin: 50px auto 0;
  min-height: 400px;
}
.uk-panel .panel-wrapper-link {
  text-decoration: none;
}

.uk-panel-box {
  padding: 0;
  border: solid 1px #e7e9ec;
  background: #fff;
  cursor: pointer;
}
.uk-panel-box:hover {
  box-shadow: 0 12px 42px 12px rgba(0, 0, 0, 0.08);
}
.uk-panel-box:hover .uk-panel-title {
  color: #152844 !important;
  border-color: transparent;
}
.uk-panel-box .uk-panel-teaser {
  margin: 0;
  position: relative;
}
.uk-panel-box .uk-panel-teaser .teaser-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 0;
  text-align: center;
}
.uk-panel-box .uk-panel-teaser .teaser-wrap::before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.uk-panel-box .uk-panel-teaser .teaser-wrap .teaser-text {
  font-size: 33px;
  line-height: 1.21;
  text-align: center;
  font-weight: 600;
  color: #00b0f4;
  display: inline-block;
}
.uk-panel-box .uk-panel-title {
  font-weight: 600;
  margin: 0;
}
.uk-panel-box .panel-info {
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.uk-panel-box .text-info-will {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  font-weight: bold;
  color: #152844;
}
.uk-panel-box .panel-foot-text {
  font-size: 14px;
  padding: 0 12px;
  text-align: center;
  line-height: 1.43;
  color: #152844;
}

.uk-panel-title {
  font-size: 18px;
  line-height: 1.56;
  color: #00b0f4 !important;
  font-weight: 600;
  border-bottom: 1px dashed #00b0f4;
  display: inline-block;
}

.panel-text {
  font-size: 14px;
  line-height: 1.43;
  color: #89a7aa;
  margin: 5px 0;
}

.timing__list {
  position: relative;
  width: calc(100% - 124px);
  margin: 38px auto 0;
  padding: 0 0 0 50px;
  border-left: 1px solid #00b0f4;
}
.timing__list::before {
  content: "";
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -230px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  display: inline-block;
  left: -9px;
  position: absolute;
  top: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .timing__list::before {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -230px;
    height: 18px;
    width: 18px;
  }
}
.timing__list::after {
  content: "";
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -230px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  display: inline-block;
  left: -9px;
  position: absolute;
  bottom: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .timing__list::after {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -230px;
    height: 18px;
    width: 18px;
  }
}
.timing__list.boxed-list li {
  padding: 20px 0;
}
.timing__list li {
  position: relative;
}
.timing__list li:not(:last-child) {
  margin-bottom: 47px;
}
.timing__list li::before {
  content: "";
  background-image: url('../images/icons-se0e7c1a032.png');
  background-position: 0 -230px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  display: inline-block;
  left: -59px;
  position: absolute;
  top: 5px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .timing__list li::before {
    background-image: url('../images/icons-2x-sdfdd8285c8.png');
    background-size: 284px auto;
    background-position: 0 -230px;
    height: 18px;
    width: 18px;
  }
}
.timing__list li:last-child::before, .timing__list li:first-child::before {
  display: none;
}
.timing__list li p {
  margin: 0;
}

[class^="timing__list_time"] {
  font-size: 30px;
  color: #00b0f4;
  font-weight: 600;
  width: auto;
  float: left;
  vertical-align: top;
  line-height: 30px;
  min-width: 77px;
  max-width: 201px;
  position: relative;
  margin: 0 20px 0 0 !important;
}

[class^="timing__list_info"] {
  float: left;
  width: calc(100% - 231px);
  padding: 5px;
}
[class^="timing__list_info"] span {
  font-size: 13px;
  color: #89a7aa;
  margin-top: 11px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 6px;
}
[class^="timing__list_info"] small {
  font-size: 15px;
  color: #152844;
  display: inline-block;
  vertical-align: baseline;
}

[class^="timing__list_title"] {
  font-size: 22px;
  font-weight: 600;
  color: #152844;
}

.partners-list img {
  margin: 11px 22px;
}

.b__timer {
  background-color: rgba(0, 185, 246, 0.35);
  padding: 0 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b__timer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.b__timer > div > div {
  margin: 20px;
}
@media screen and (max-width: 440px) {
  .b__timer > div > div {
    margin: 20px 0;
    display: block;
  }
}
.b__timer_title {
  font-size: 24px;
  font-weight: 300;
  font-family: "Open Sans", serif;
  color: #ffffff;
  line-height: 1.2;
  margin: 0;
}
.b__timer_info.info {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.b__timer_info.info .info__item {
  float: left;
  text-align: center;
  border-left: solid 1px rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}
@media screen and (max-width: 440px) {
  .b__timer_info.info .info__item {
    padding: 0 10px;
  }
}
.b__timer_info.info .info__item:last-child {
  border-right: solid 1px rgba(255, 255, 255, 0.2);
}
.b__timer_info.info .info__item_time {
  font-size: 32px;
  color: #00b0f4;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
}
@media screen and (max-width: 440px) {
  .b__timer_info.info .info__item_time {
    font-size: 18px;
    line-height: 18px;
  }
}
.b__timer_info.info .info__item_text {
  font-size: 16px;
  line-height: 1.38;
  color: rgba(255, 255, 255, 0.8);
  margin: 5px 0 0 0;
}
@media screen and (max-width: 440px) {
  .b__timer_info.info .info__item_text {
    font-size: 12px;
    line-height: 12px;
  }
}
.b__timer_btn {
  text-align: center;
}
.b__timer_btn .uk-button {
  background-color: rgba(255, 255, 255, 0.12);
  border: solid 1px #ffffff;
  color: #fff;
  max-width: 240px;
  width: 100%;
}
.b__timer_btn .uk-button:visited, .b__timer_btn .uk-button:active, .b__timer_btn .uk-button:focus {
  background-color: rgba(255, 255, 255, 0.12);
}
.b__timer_btn .uk-button:hover {
  background-color: #00b0f4;
  border: solid 1px #00b0f4;
}

.vip-place-grid {
  font-size: 0;
  text-align: center;
}
.vip-place-grid > div {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.vip-place-grid > div:nth-child(2) {
  margin-right: -1px;
  margin-left: -1px;
}

.footer-nav {
  background-color: #ffffff;
  padding: 17px 50px;
  box-shadow: 0 12px 42px 12px rgba(0, 0, 0, 0.08);
}
.footer-nav .uk-navbar-brand {
  font-size: 15px;
  color: #152844;
}
.footer-nav .phone-info {
  float: none;
  display: inline-block;
  margin-top: 0;
}
.footer-nav .phone-info a {
  color: #152844;
  line-height: 40px;
}

.uk-modal .uk-modal-dialog {
  width: 470px;
  height: 244px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(63, 77, 89, 0.11);
  position: relative;
  margin-top: 60px;
}
.uk-modal .uk-modal-dialog .fri-remove-icon {
  position: absolute;
  top: -22px;
  right: -22px;
}
.uk-modal .uk-modal-dialog .section__title {
  font-size: 22px;
  font-weight: 600;
  color: #152844;
}
.uk-modal .uk-modal-dialog .section__text {
  color: #152844;
  margin-top: 16px !important;
}

.special-guests::after {
  content: "";
  display: block;
  clear: both;
}
.special-guests .uk-panel {
  float: left;
  width: 340px;
}
.special-guests .video-block {
  float: right;
  width: calc(100% - 371px);
}
.special-guests .video-block iframe {
  margin-bottom: 36px;
}
.special-guests .video-block .section__title {
  font-size: 22px;
  color: #152844;
  margin: 0;
  text-align: left;
}

.video-modal .uk-modal-dialog {
  position: relative;
  width: 600px;
  min-height: 400px;
  margin: auto;
}
.video-modal .uk-modal-dialog iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mrs-10 {
  margin: 0 8px;
}

@media screen and (max-width: 959px) {
  .section, .section__blue {
    padding: 30px;
  }

  .section-row {
    margin: 0 -30px 0 -30px;
  }

  .timing__list {
    padding: 0 15px 0 15px;
    width: calc(100% - 20px);
  }
  .timing__list li::before {
    left: -23px;
  }

  .partners-list img {
    margin: 11px;
  }

  [class^="timing__list_time"] {
    width: 100%;
    padding-left: 10px;
    max-width: 100%;
    margin: 0 !important;
  }

  [class^="timing__list_info"] {
    width: 100%;
    padding-left: 10px;
  }

  .b__timer {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header .uk-container {
    padding: 0 15px;
  }

  .uk-container {
    padding: 0;
  }

  .section, .section__blue {
    padding: 15px;
  }

  .section-row {
    margin: 0 -15px 0 -15px;
  }

  .timing__list {
    padding: 0 15px 0 15px;
    width: calc(100% - 20px);
  }
  .timing__list li::before {
    left: -23px;
  }

  .partners-list img {
    margin: 11px 5px;
  }

  .b__timer {
    padding: 15px;
  }
  .b__timer_title {
    text-align: center;
  }

  [class^="timing__list_time"] {
    width: 100%;
    padding-left: 10px;
    max-width: 100%;
    margin: 0 !important;
  }

  [class^="timing__list_info"] {
    width: 100%;
    padding-left: 10px;
  }

  .header__btns_btn,
  .header__btns_link {
    margin: 10px;
    display: inline-block;
  }

  .section__switcher {
    padding: 0;
  }
  .section__switcher li {
    display: block;
    margin: 15px 0 15px 0 !important;
  }

  .special-guests .uk-panel {
    float: none;
    max-width: 340px;
  }
  .special-guests .video-block {
    margin-top: 31px;
    float: none;
    width: 100%;
  }
}
.paymanent {
  max-width: 808px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 12px 42px 12px rgba(0, 0, 0, 0.08);
  display: none;
}
.paymanent .paymanent-form.uk-form {
  width: 100%;
  max-width: 100%;
}
.paymanent_header {
  padding: 40px 75px;
  border-bottom: solid 1px rgba(20, 39, 68, 0.1);
}
@media screen and (max-width: 767px) {
  .paymanent_header {
    padding: 20px 30px;
  }
}
.paymanent_header .section__title {
  font-size: 22px;
  color: #152844;
}
.paymanent_info {
  padding: 20px 75px 40px;
}
@media screen and (max-width: 767px) {
  .paymanent_info {
    padding: 20px 30px;
  }
}
.paymanent_info input:not([type]),
.paymanent_info input[type=text],
.paymanent_info input[type=password],
.paymanent_info input[type=email],
.paymanent_info input[type=url],
.paymanent_info input[type=search],
.paymanent_info input[type=tel],
.paymanent_info input[type=number],
.paymanent_info input[type=datetime],
.paymanent_info input[type=datetime-local],
.paymanent_info input[type=date],
.paymanent_info input[type=month],
.paymanent_info input[type=time],
.paymanent_info input[type=week],
.paymanent_info input[type=color],
.paymanent_info select,
.paymanent_info textarea {
  height: 48px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 #cacaca;
  border: solid 1px #979797;
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #152844;
  text-align: left !important;
  padding: 0 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.paymanent_info input:not([type]):focus, .paymanent_info input:not([type]):active,
.paymanent_info input[type=text]:focus,
.paymanent_info input[type=text]:active,
.paymanent_info input[type=password]:focus,
.paymanent_info input[type=password]:active,
.paymanent_info input[type=email]:focus,
.paymanent_info input[type=email]:active,
.paymanent_info input[type=url]:focus,
.paymanent_info input[type=url]:active,
.paymanent_info input[type=search]:focus,
.paymanent_info input[type=search]:active,
.paymanent_info input[type=tel]:focus,
.paymanent_info input[type=tel]:active,
.paymanent_info input[type=number]:focus,
.paymanent_info input[type=number]:active,
.paymanent_info input[type=datetime]:focus,
.paymanent_info input[type=datetime]:active,
.paymanent_info input[type=datetime-local]:focus,
.paymanent_info input[type=datetime-local]:active,
.paymanent_info input[type=date]:focus,
.paymanent_info input[type=date]:active,
.paymanent_info input[type=month]:focus,
.paymanent_info input[type=month]:active,
.paymanent_info input[type=time]:focus,
.paymanent_info input[type=time]:active,
.paymanent_info input[type=week]:focus,
.paymanent_info input[type=week]:active,
.paymanent_info input[type=color]:focus,
.paymanent_info input[type=color]:active,
.paymanent_info select:focus,
.paymanent_info select:active,
.paymanent_info textarea:focus,
.paymanent_info textarea:active {
  box-shadow: 0 0 5px 0 #00b0f4;
  border: solid 1px #00b0f4;
  color: #152844;
}
.paymanent_info label {
  font-size: 16px;
  color: #89a7aa;
  display: block;
  margin: 26px 0 3px;
}
.paymanent_info .drop-selects {
  font-size: 0;
}
.paymanent_info .drop-selects .drop-select__wrapper {
  width: calc(45% - 8px);
  display: inline-block;
  margin-right: 8px;
  font-size: 16px;
  margin-left: 0;
  position: relative;
  text-align: left;
}
.paymanent_info .drop-selects .drop-select__wrapper:last-child {
  margin-right: 0 !important;
  width: calc(55% - 8px);
}
.paymanent_info .drop-selects .drop-select__wrapper:last-child .drop-select__current {
  padding: 0 17px 0 10px;
}
.paymanent_info .drop-selects .drop-select__wrapper select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  z-index: 4;
  text-align: left;
}
.paymanent_info .drop-selects .drop-select__wrapper select option {
  text-align: left;
}
.paymanent_info .drop-selects .drop-select__wrapper .drop-select__current {
  height: 48px;
  line-height: 46px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 #cacaca;
  border: solid 1px #979797;
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #152844;
  text-align: left !important;
  padding: 0 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.paymanent_info .drop-selects .drop-select__wrapper .drop-select__current::after {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  display: inline-block;
  margin-right: -3px;
  line-height: 16px;
  content: "";
  right: 10px;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #152844 transparent transparent transparent;
}
.paymanent_footer {
  border-top: solid 1px rgba(20, 39, 68, 0.1);
  padding: 20px 75px;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .paymanent_footer {
    padding: 20px 30px;
  }
}
.paymanent_footer > div {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  font-size: 13px;
  color: #4a4a4a;
}
@media screen and (max-width: 767px) {
  .paymanent_footer > div {
    width: 100%;
    text-align: left;
  }
}
.paymanent_footer > div:last-child {
  width: 40%;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .paymanent_footer > div:last-child {
    width: 100%;
    text-align: left;
    margin-top: 20px;
  }
}
.paymanent_footer > div:last-child .uk-button {
  background: #00b0f4;
  color: #fff;
  margin: 0;
  letter-spacing: 0.6px;
  font-size: 15px;
  font-weight: 600;
}
.paymanent_footer > div:last-child .uk-button:active, .paymanent_footer > div:last-child .uk-button:visited, .paymanent_footer > div:last-child .uk-button:focus {
  background: #00b0f4;
  color: #fff;
}
.paymanent_footer > div:last-child .uk-button:hover {
  background: #00a1e0;
  color: #fff;
}
.paymanent_footer > div:first-child i {
  float: left;
  margin: 3px 0 0 0;
}
.paymanent_footer > div:first-child p {
  float: right;
  width: calc(100% - 21px);
  margin: 0;
}

@media screen and (max-width: 767px) {
  .advertise-btn-wrap {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .header__btns_btn {
    font-size: 18px;
    max-width: 250px;
  }

  .header__title_large {
    font-size: 50px;
  }
}
@media screen and (max-width: 440px) {
  .uk-form-row {
    width: 90%;
    margin: 0 auto;
  }
  .uk-form-row input {
    box-sizing: border-box;
  }

  .header__title_large {
    font-size: 30px;
  }
}
.trans {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
