<div class="uk-container uk-container-center">
    {% if headerDate %}
        {{ headerDate }}
    {% else %}
        <h3 class="header__title_info"><span>30 Ноября в 19:00</span> <span class="mrs-10">•</span> Рэдиссон Славянская,
            Москва</h3>
    {% endif %}
    <h2 class="header__title_large uk-text-uppercase">ЕЖЕГОДНЫЙ БИЗНЕС ФОРУМ
        <span>БОЛЬШОЙ ЕЖЕГОДНЫЙ ЭКОНОМИЧЕСКИЙ ФОРУМ {{ city }}-2016 </span></h2>
    {% if headerMasterclassDate %}
        {{ headerMasterclassDate }}
    {% else %}
        <h4 class="header__title_text"><span>1 и 2 декабря</span> — мастер-классы от Экспертов (площадка Парк Мира)</h4>
    {% endif %}
    <h2 class="header__title">
        Владимир Кузовлев, Ольга Прохода, Олег Дмитриев,
        <span class="uk-display-inline-block">ведущий конференции Олег Богданов</span> и особая Звездная Гостья
    </h2>
    <div class="header__btns uk-text-center">
        <a href="#reg-block" class="uk-button header__btns_btn" data-uk-smooth-scroll>Зарегистрироваться</a>
    </div>

    <div class="b__timer">
        <div>
            <div>
                <h4 class="b__timer_title">До начала форума осталось:</h4>
            </div>
            <div>
                <ul id="countdown-top" class="b__timer_info info"
                    data-day="{% if dataDay %}{{ dataDay }}{% else %}Wed, 30 November 2016 19:00:00 GMT{% endif %}">
                    <li class="info__item">
                        <p class="info__item_time">25</p>
                        <p class="info__item_text">дней</p>
                    </li>
                    <li class="info__item">
                        <p class="info__item_time">15</p>
                        <p class="info__item_text">часов</p>
                    </li>
                    <li class="info__item">
                        <p class="info__item_time">48</p>
                        <p class="info__item_text">минут</p>
                    </li>
                    <li class="info__item">
                        <p class="info__item_time">05</p>
                        <p class="info__item_text">секунд</p>
                    </li>
                </ul>
            </div>
            <div>
                <div class="b__timer_btn">
                    <a href="#reg-block" class="uk-button" data-uk-smooth-scroll> <i class="btn1-plus"></i> Участвовать</a>
                </div>
            </div>
        </div>
    </div>
</div>