<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<link rel="stylesheet" href="css/banner.css">
</head>
<body>
<div class="presentation">
	<div class="presentation__header">
		<div class="presentation__date">
			<div class="presentation__date-big">30</div>
			<div class="presentation__date-small">марта</div>
		</div>
		<div class="presentation__title">
			<div class="presentation__title-small">санкт-петербургский</div>
			<div class="presentation__title-big">БИЗНЕС-КОНГРЕСС</div>
		</div>
	</div>
	<div class="presentation__image">
		<div class="presentation__image-text">с участием</div>
		<div class="presentation__image-bg">
			<div class="presentation__image-small-text">МИХАИЛА</div>
			<div class="presentation__image-big-text">ХАЗИНА</div>
		</div>
	</div>
	<div class="presentation__animate-text">
		<div class="presentation__animate-item">
			<div class="presentation__animate-top-text"><span>что будет с рублем,</span></div>
			<div></div>
			<div class="presentation__animate-bottom-text"><span>долларом, евро?</span></div>
		</div>
		<div class="presentation__animate-item">
			<div class="presentation__animate-top-text"><span>как удержать бизнес</span></div>
			<div></div>
			<div class="presentation__animate-bottom-text"><span>во время кризиса?</span></div>
		</div>
		<div class="presentation__animate-item">
			<div class="presentation__animate-top-text"><span>как увеличить доходы</span></div>
			<div></div>
			<div class="presentation__animate-bottom-text"><span>от бизнеса?</span></div>
		</div>
		<div class="presentation__animate-item">
			<div class="presentation__animate-button"><span>Узнать подробности</span></div>
		</div>
	</div>
</div>
</body>
</html>