{% extends "layouts/app.twig" %}

{% block pageTitle %}LARSON&HOLZ{% endblock %}

{% block content %}
<div class="uk-container uk-container-center">

    <!-- О ФОРУМЕ -->
    <section class="section section-about">
        <div class="section__icon_block">
            <i class="fri fri-shape-circle"></i>
        </div>
        <h5 class="section__title_info">О ФОРУМЕ</h5>

        <h3 class="section__title">Ежегодный бизнес форум от Larson&Holz</h3>

        <div class="uk-text-center">
            <p class="section__text">Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.</p>
            <p class="section__text">Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.</p>
        </div>

        <div data-uk-slideset="{small: 2, medium: 3, large: 5, animation: 'slide-horizontal'}" class="about-slideset section-row uk-margin-small-top">
            <div class="uk-slidenav-position">
                <ul class="uk-grid uk-slideset uk-grid-collapse">
                    <li>
                        <img src="images/slide-imgs/slide-img.png" alt="">
                        <div class="overlay">
                            <div class="overlay__info">
                                <p class="uk-vertical-align-middle">Уфа, 2015</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/slide-imgs/slide-img-2.png" alt="">
                        <a href="#video-modal-1" data-uk-modal="{center:true}"><i class="fri fri-play-btn"></i></a>
                    </li>
                    <li>
                        <img src="images/slide-imgs/slide-img-3.png" alt="">
                        <div class="overlay">
                            <div class="overlay__info">
                                <p>Уфа, 2015</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/slide-imgs/slide-img-4.png" alt="">
                        <div class="overlay">
                            <div class="overlay__info">
                                <p>Уфа, 2015</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/slide-imgs/slide-img-5.png" alt="">
                        <div class="overlay">
                            <div class="overlay__info">
                                <p>Уфа, 2015</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/slide-imgs/slide-img.png" alt="">
                        <div class="overlay">
                            <div class="overlay__info">
                                <p>Уфа, 2015</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/slide-imgs/slide-img-2.png" alt="">
                        <div class="overlay">
                            <div class="overlay__info">
                                <p>Уфа, 2015</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/slide-imgs/slide-img-3.png" alt="">
                        <div class="overlay">
                            <div class="overlay__info">
                                <p>Уфа, 2015</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/slide-imgs/slide-img-4.png" alt="">
                        <div class="overlay">
                            <div class="overlay__info">
                                <p>Уфа, 2015</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/slide-imgs/slide-img-5.png" alt="">
                        <div class="overlay">
                            <div class="overlay__info">
                                Уфа, 2015
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
                <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
            </div>
        </div>
    </section>

    <!-- СПИКЕРЫ И СПЕЦИАЛЬНЫЕ ГОСТИ -->
    <section class="section speakers-guests">
        <div class="section__icon_block">
            <i class="fri fri-microphone"></i>
        </div>
        <h5 class="section__title_info">СПИКЕРЫ И СПЕЦИАЛЬНЫЕ ГОСТИ</h5>

        <ul class="section__switcher" data-uk-switcher="{animation: 'scale', swiping: false, connect:'#sg-switch'}">
            <li><a href="#" class="section__title_link">Спикеры</a></li>
            <li><a href="#" class="section__title_link">Специальные гости</a></li>
        </ul>

        <ul id="sg-switch" class="uk-switcher">
            <li>
                <div data-uk-slideset="{small: 1, medium: 3, large: 3}">
                    <ul class="s-switch uk-grid uk-grid-match uk-slideset" data-uk-switcher="{ swiping: false, connect:'#s-switch', animation: 'slide-right'}">
                        <li>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-teaser">
                                    <img src="images/ava.png" alt="">
                                </div>
                                <div class="panel-info">
                                    <h3 class="uk-panel-title">Владимир Кузовлев</h3>
                                    <p class="panel-text">Независимый эксперт, практикующий финансовый управляющий с опытом более 10 лет</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-teaser">
                                    <img src="images/ava2.png" alt="">
                                </div>
                                <div class="panel-info">
                                    <h3 class="uk-panel-title">Ольга Прохода</h3>
                                    <p class="panel-text">Финансовый эксперт, аналитик и консультант. Практика более 6 лет</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-teaser">
                                    <img src="images/ava3.png" alt="">
                                </div>
                                <div class="panel-info">
                                    <h3 class="uk-panel-title">Олег Дмитриев</h3>
                                    <p class="panel-text">независимый эксперт, практикующий финансовый управляющий с опытом более 10 лет</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul id="s-switch" class="uk-switcher uk-margin-large-top">
                    <li>
                        <h4 class="section__title">«5 шагов успеха от Владимира Кузовлева»</h4>
                        <p class="section__text uk-text-center">5 активов, которые меньше, чем за год позволят удвоить капитал</p>
                        <div class="uk-grid uk-grid-width-small-1-2 uk-grid-width-medium-1-5 uk-grid-large uk-margin-small-top" data-uk-grid-margin>
                            <div class="uk-text-center">
                                <i class="fri fri-mixer"></i>
                                <p class="section__text">Выбор не менее трех активов</p>
                            </div>
                            <div class="uk-text-center">
                                <i class="fri fri-graph"></i>
                                <p class="section__text">Использование тренда по максимуму</p>
                            </div>
                            <div class="uk-text-center">
                                <i class="fri fri-cog"></i>
                                <p class="section__text">Подбор персонально торгового инструмента на основании психотипа</p>
                            </div>
                            <div class="uk-text-center">
                                <i class="fri fri-piechart"></i>
                                <p class="section__text">Дисциплина. Стратегическое планирование. Торговый дневник</p>
                            </div>
                            <div class="uk-text-center">
                                <i class="fri fri-target"></i>
                                <p class="section__text">Самоконтроль. Как заставить эмоции работать на себя.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h4 class="section__title">«Как развивать бизнес в кризис?» от Ольги Прохода</h4>
                        <p class="section__text uk-text-center">Антикризисное управление</p>
                        <div class="uk-grid uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-large uk-margin-small-top" data-uk-grid-margin>
                            <div class="uk-text-center">
                                <i class="fri fri-circle-d"></i>
                                <p class="section__text">Антикризисное управление. Могут ли санкции принести доход?</p>
                            </div>
                            <div class="uk-text-center">
                                <i class="fri fri-web"></i>
                                <p class="section__text">Почему клиенты выбирают партнерство с Ларсон Холц</p>
                            </div>
                            <div class="uk-text-center">
                                <i class="fri fri-books"></i>
                                <p class="section__text">Франчайзинг</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h4 class="section__title">«Золотой портфель» от Олега Дмитрева</h4>
                        <p class="section__text uk-text-center">Как сохранить деньги?</p>
                        <div class="uk-grid uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-large uk-margin-small-top" data-uk-grid-margin>
                            <div class="uk-text-center">
                                <i class="fri fri-mt4"></i>
                                <p class="section__text">Формирование инвестиционного портфеля на основании инструментов МТ4</p>
                            </div>
                            <div class="uk-text-center">
                                <i class="fri fri-rub"></i>
                                <p class="section__text">Средства в персональное управление от $5000</p>
                            </div>
                            <div class="uk-text-center">
                                <i class="fri fri-graph"></i>
                                <p class="section__text">Инвестиционное планирование. Расчет доходности. Риск-менеджмент.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="special-guests">
                    <div class="uk-panel uk-panel-box">
                        <div class="uk-panel-teaser">
                            <img src="images/ava4.png" alt="">
                        </div>
                        <div class="panel-info">
                            <h3 class="uk-panel-title">Олег Богданов</h3>
                            <p class="panel-text">Эксперт РБК, опыт работы более 10 лет</p>
                        </div>
                    </div>
                    <div class="video-block">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/24xW6srPY50" frameborder="0" allowfullscreen></iframe>
                        <h4 class="section__title">РБК: «Богданов в курсе»</h4>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <!-- ТАЙМИНГ ФОРУМА -->
    <section class="section section-timing">
        <div class="section__icon_block">
            <i class="fri fri-clock"></i>
        </div>
        <h5 class="section__title_info">ТАЙМИНГ ФОРУМА</h5>

        <ul class="section__switcher" data-uk-switcher="{animation: 'scale', swiping: false, connect:'#timing-switch'}">
            <li><a href="#" class="section__title_link">30 ноября</a></li>
            <li><a href="#" class="section__title_link">1 и 2 декабря</a></li>
        </ul>

        <ul id="timing-switch" class="uk-switcher">
            <li>
                <div>
                    <ul class="timing__list uk-list">
                        <li>
                            <p class="timing__list_time">18:45</p>
                            <div class="timing__list_info">
                                <p class="timing__list_title">Регистрация участников Форума</p>
                            </div>
                        </li>
                        <li>
                            <p class="timing__list_time">19:00</p>
                            <div class="timing__list_info">
                                <p class="timing__list_title">Богданов в курсе</p>
                                <p><span>Спикер:</span><small>Олег Богданов</small></p>
                            </div>
                        </li>
                        <li>
                            <p class="timing__list_time">19:20</p>
                            <div class="timing__list_info">
                                <p class="timing__list_title">Что ждать от рубля в 2017 году?</p>
                                <p><span>Спикер:</span><small>Ольга Прохода, Владимир Кузовлев</small></p>
                            </div>
                        </li>
                        <li>
                            <p class="timing__list_time">20:20</p>
                            <div class="timing__list_info">
                                <p class="timing__list_title">Кофе-брейк</p>
                            </div>
                        </li>
                        <li>
                            <p class="timing__list_time">20:45</p>
                            <div class="timing__list_info">
                                <p class="timing__list_title">Как развивать бизнес в кризис?</p>
                                <p><span>Спикер:</span><small>Ольга Прохода</small></p>
                            </div>
                        </li>
                        <li>
                            <p class="timing__list_time">21:20</p>
                            <div class="timing__list_info">
                                <p class="timing__list_title">Как сохранить деньги? Золотой портфель от Дмитрева Олега</p>
                                <p><span>Спикер:</span><small>Олег Дмитриев</small></p>
                            </div>
                        </li>
                        <li>
                            <p class="timing__list_time">22:00</p>
                            <div class="timing__list_info">
                                <p class="timing__list_title">Окончание. Розыгрыш призов.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <ul class="timing__list uk-list boxed-list">
                    <li>
                        <p class="timing__list_time">10:00 — 19:30</p>
                        <div class="timing__list_info">
                            <p class="timing__list_title">Частные консультации</p>
                            <p><small>Запись 30 ноября  у Организаторов</small></p>
                        </div>
                    </li>
                </ul>

                <ul class="timing__list uk-list boxed-list">
                    <li>
                        <p class="timing__list_time">12:00 — 19:00</p>
                        <div class="timing__list_info">
                            <p class="timing__list_title">Парад мастер-классов</p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </section>



    <!-- РЕКЛАМА -->
    <div class="section__blue">
        <div class="uk-grid uk-grid-large" data-uk-grid-margin>
            <div class="uk-width-small-1-1 uk-width-medium-4-6">
                <h2 class="advertise-text">Участие бесплатно, но количество мест ограничено!</h2>
            </div>
            <div class="uk-width-small-1-1 uk-width-medium-2-6">
                <a href="#" class="advertise-btn uk-button uk-button-default"> <i class="btn1-plus"></i> Участвовать</a>
            </div>
        </div>
    </div>

    <!-- МЕСТО ПРОВЕДЕНИЯ -->
    <section class="section">
        <div class="section__icon_block">
            <i class="fri fri-flag"></i>
        </div>
        <h5 class="section__title_info">МЕСТО ПРОВЕДЕНИЯ</h5>

        <h3 class="section__title">30 Ноября, Рэдиссон Славянская, Москва <br> Начало в 19:00</h3>

        <div class="uk-text-center">
            <p class="section__text">Москва, пл. Европы 2</p>
        </div>

        <div class="uk-margin-small-top">
            <div class="uk-grid uk-grid-collapse uk-grid-width-small-1-1 uk-grid-width-medium-1-2 uk-grid-match">
                <div>
                    <div>
                        <img src="images/place.png" alt="" data-auto-width>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="images/map.png" alt="" data-auto-width>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- МЕСТО ПРОВЕДЕНИЯ -->
    <section class="section">
        <div class="section__icon_block">
            <i class="fri fri-heart"></i>
        </div>
        <h5 class="section__title_info">НАШИ ПАРТНЕРЫ</h5>

        <h3 class="section__title">Партнеры</h3>

        <div class="partners-list uk-margin-small-top uk-text-center">
            <img src="images/partners/autochartist.png" alt="" data-half-size>
            <img src="images/partners/dow-jones.png" alt="" data-half-size>
            <img src="images/partners/rbc.png" alt="" data-half-size>
            <img src="images/partners/forbes.png" alt="" data-half-size>
            <img src="images/partners/finam.png" alt="" data-half-size>
            <img src="images/partners/commersant.png" alt="" data-half-size>
            <img src="images/partners/ru-24.png" alt="" data-half-size>
            <img src="images/partners/mkru.png" alt="" data-half-size>
            <img src="images/partners/expert.png" alt="" data-half-size>
        </div>
    </section>

    <!-- РЕГИСТРАЦИЯ НА УЧАСТИЕ -->
    <section class="section">
        <div class="section__icon_block">
            <i class="fri fri-man"></i>
        </div>
        <h5 class="section__title_info">РЕГИСТРАЦИЯ НА УЧАСТИЕ</h5>

        <ul class="section__switcher" data-uk-switcher="{animation: 'scale', swiping: false, connect:'#reg-switch'}">
            <li><a href="#" class="section__title_link">Регистрация</a></li>
            <li><a href="#" class="section__title_link">Купить VIP-место</a></li>
        </ul>

        <ul id="reg-switch" class="uk-switcher">
            <li>
                <div class="section-row reg-form-wrap">
                    <form class="uk-form">
                        <div class="uk-form-row">
                            <span class="uk-form-help-inline">Имя и Фамилия:</span> <input type="text" name="ФИО" placeholder="" >
                        </div>
                        <div class="uk-form-row">
                            <span class="uk-form-help-inline">Email:</span> <input type="email" name="email" placeholder="" >
                        </div>
                        <div class="uk-form-row">
                            <span class="uk-form-help-inline">Телефон:</span> <input type="text" name="телефон" data-phone-mask placeholder="">
                        </div>
                        <div class="uk-text-center">
                            <input type="submit" value="Зарегистрироваться" class="uk-button">
                        </div>
                    </form>
                </div>
            </li>
            <li class="vip-place">
                <div class="vip-place-grid">
                    <div class="uk-text-center">
                        <article class="uk-article">
                            <h5 class="uk-article-title">Бизнес</h5>
                            <p class="uk-article-lead"><span class="price">4 700</span>руб.</p>
                            <hr class="uk-article-divider">
                            <ul class="uk-list article-list">
                                <li><div class="article-list-circle"></div><p>3 часа</p></li>
                                <li><div class="article-list-circle"></div><p>Кофе-брейк</p></li>
                                <li><div class="article-list-circle"></div><p>Сертификат</p></li>
                                <li><div class="article-list-circle"></div><p><strong>Скидка 25%</strong> на все услуги <br> экспонентов</p></li>
                            </ul>
                            <div class="uk-text-center">
                                <a href="#" class="uk-button buy-btn">Купить</a>
                            </div>
                        </article>
                    </div>
                    <div class="uk-text-center">
                        <article class="uk-article">
                            <i class="fri fri-star"></i>
                            <h5 class="uk-article-title">Инвестор</h5>
                            <p class="uk-article-lead"><span class="price">7 000</span>руб.</p>
                            <hr class="uk-article-divider">
                            <ul class="uk-list article-list">
                                <li><div class="article-list-circle"></div><p>3 часа</p></li>
                                <li><div class="article-list-circle"></div><p>Кофе-брейк</p></li>
                                <li><div class="article-list-circle"></div><p>Сертификат</p></li>
                                <li><div class="article-list-circle"></div><p><strong>1 час бесплатной консультации</strong> <br>у Экспертных аналитиков</p></li>
                                <li><div class="article-list-circle"></div><p><strong>Скидка 35%и</strong> <br>на все услуг экспонентов</p></li>
                            </ul>
                            <div class="uk-text-center">
                                <a href="#" class="uk-button buy-btn">Купить</a>
                            </div>
                        </article>
                    </div>
                    <div class="uk-text-center">
                        <article class="uk-article">
                            <h5 class="uk-article-title">Золотой инвестор</h5>
                            <p class="uk-article-lead"><span class="price">10 500</span>руб.</p>
                            <hr class="uk-article-divider">
                            <ul class="uk-list article-list">
                                <li><div class="article-list-circle"></div><p>3 часа</p></li>
                                <li><div class="article-list-circle"></div><p>Кофе-брейк</p></li>
                                <li><div class="article-list-circle"></div><p>Сертификат</p></li>
                                <li><div class="article-list-circle"></div><p><strong>3 часа бесплатной консультации</strong> <br>у Экспертных аналитиков</p></li>
                                <li><div class="article-list-circle"></div><p><strong>Скидка 60%</strong> на все услуги<br>  экспонентов</p></li>
                            </ul>
                            <div class="uk-text-center">
                                <a href="#" class="uk-button buy-btn">Купить</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="paymanent">
                    <form action="" class="uk-form paymanent-form">
                        <div class="paymanent_header">
                            <h3 class="section__title uk-text-left">Выберите метод оплаты</h3>
                        </div>
                        <div class="paymanent_info">
                            <div>
                                <a href="#"><i class="fri fri-visa"></i></a>
                                <a href="#"><i class="fri fri-mastercard"></i></a>
                                <a href="#"><i class="fri fri-amex"></i></a>
                                <a href="#"><i class="fri fri-discover"></i></a>
                                <a href="#"><i class="fri fri-paypal"></i></a>
                            </div>
                            <div class="paymanent_data">
                                <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                    <div class="uk-width-small-1-1 uk-width-large-2-4">
                                        <label for="">Номер карты</label>
                                        <input type="text" name="" id="" name="cart_number">
                                    </div>
                                    <div class="uk-width-small-1-1 uk-width-large-1-4">
                                        <label for="">Код</label>
                                        <input type="text" name="" id="" name="code">
                                    </div>
                                    <div class="uk-width-small-1-1 uk-width-large-1-4">
                                        <label for="">Дата действия</label>
                                        <div class="drop-selects">
                                            <div class="drop-select__wrapper">
                                                <div class="drop-select__current"></div>
                                                <select name="mounth" id="">
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                </select>
                                            </div>
                                            <div class="drop-select__wrapper">
                                                <div class="drop-select__current"></div>
                                                <select name="year" id="">
                                                    <option value="">2016</option>
                                                    <option value="">2017</option>
                                                    <option value="">2018</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-small-1-1 uk-width-large-2-4">
                                        <label for="">Имя и фамилия, указанные на карте</label>
                                        <input type="text" name="" id="" name="name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="paymanent_footer">
                            <div>
                                <i class="fri fri-lock-icon"></i>
                                <p>Larson&Holz не передает и не разглашает Ваши личные данные третьим лицам</p>
                            </div>
                            <div>
                                <input type="submit" value="Оплатить" class="uk-button">
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </section>

</div>

<div id="success-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-text-center">
        <a href="" class="uk-modal-close"><i class="fri fri-remove-icon"></i></a>
        <i class="fri fri-success"></i>
        <h4 class="section__title">Вы успешно зарегистрировались!</h4>
        <p class="section__text">Подтверждение о регистрации на Форум вы получите на эл.почту и смс.</p>
        <p class="section__text">Спасибо!</p>
    </div>
</div>

<div id="video-modal-1" class="uk-modal video-modal">
    <div class="uk-modal-dialog uk-text-center">
        <a href="" class="uk-modal-close"><i class="fri fri-remove-icon"></i></a>
        <iframe width="854" height="480" src="https://www.youtube.com/embed/24xW6srPY50" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div id="video-modal-2" class="uk-modal video-modal">
    <div class="uk-modal-dialog uk-text-center">
        <a href="" class="uk-modal-close"><i class="fri fri-remove-icon"></i></a>
        <iframe width="854" height="480" src="https://www.youtube.com/embed/3DwJOyc1dJw" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}