<footer>
    <div class="uk-container uk-container-center">
        <nav class="uk-navbar footer-nav">
            <a href="#" class="uk-navbar-brand">© LARSON&HOLZ 2000—2017</a>
            <div class="uk-navbar-flip">
                <div class="nav-info phone-info uk-hidden-small">
                    {% if phone %}
                        <a href="tel:{{ phone }}">{{ phone }}</a>
                    {% else %}
                        <a href="tel:8(800) 555 08 85">8(800) 555 08 85</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</footer>