<footer>
    <div class="uk-container uk-container-center">
        <nav class="uk-navbar footer-nav">
            <a href="#" class="uk-navbar-brand">© LARSON&HOLZ  2000—2016</a>
            <div class="uk-navbar-flip">
                <div class="nav-info phone-info uk-hidden-small">
                    <a href="tel:8(800) 550 08 85">8(800) 550 08 85</a>
                </div>
            </div>
        </nav>
    </div>
</footer>