<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">LARSON</a>
        </div>
        <div class="collapse navbar-collapse">
            <p class="navbar-text navbar-right"><a href="tel:8(800) 550 08 85">8(800) 550 08 85</a></p>
            <ul class="lang-list list-inline navbar-right">
                <li class="navbar-text"><a href="#">Ru</a></li>
                <li class="navbar-text"><a href="#">En</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- О ФОРУМЕ -->
<div class="container">
    <section class="well well-sm">
        <h5 class="text-muted text-uppercase text-center">О ФОРУМЕ</h5>
        <ul class="list-inline text-center">
            <li><h3 class="text-info">Ежегодный бизнес форум от Larson&Holz</h3></li>
        </ul>
        <p class="text-primary text-center">Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.</p>
        <p class="text-primary text-center">Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.</p>
    </section>
</div>

<!-- СПИКЕРЫ И СПЕЦИАЛЬНЫЕ ГОСТИ -->
<div class="container">
    <section class="well well-sm">
        <h5 class="text-muted text-uppercase text-center">СПИКЕРЫ И СПЕЦИАЛЬНЫЕ ГОСТИ</h5>
        <ul class="list-inline text-center">
            <li><h3><a href="#" class="text-info">Спикеры</a></h3></li>
            <li><h3><a href="#" class="text-info">Специальные гости</a></h3></li>
        </ul>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center">
                    <img src="images/ava.png" alt="">
                    <div class="caption">
                        <h3><a href="#vladmirSteps" class="text-info" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">Владимир Кузовлев</a></h3>
                        <p class="text-muted">Независимый эксперт, практикующий финансовый управляющий с опытом более 10 лет</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center">
                    <img src="images/ava2.png" alt="">
                    <div class="caption">
                        <h3><a href="#" class="text-info">Ольга Прохода</a></h3>
                        <p class="text-muted">Финансовый эксперт, аналитик и консультант. Практика более 6 лет</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail text-center">
                    <img src="images/ava3.png" alt="">
                    <div class="caption">
                        <h3><a href="#" class="text-info">Олег Дмитриев</a></h3>
                        <p class="text-muted">независимый эксперт, практикующий финансовый управляющий с опытом более 10 лет</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="collapse text-center" id="vladmirSteps">
                    <h4>«5 шагов успеха от Владимира Кузовлева»</h4>
                    <small>5 активов, которые меньше, чем за год позволят удвоить капитал</small>
                </div>
            </div>
        </div>
    </section>
</div>