<header class="header">
    <nav class="uk-navbar">
        <div class="uk-container uk-container-center">
            <a href="#" class="uk-navbar-brand"><img src="images/logo.png" alt="LARSON&HOLZ LOGO" class="logo"></a>
            <div class="uk-navbar-flip">
                <div class="nav-info lang-info uk-hidden-small">
                    <a href="#" class="uk-active">Ru</a> | <a href="#">En</a>
                </div>
                <div class="nav-info phone-info uk-hidden-small">
                    <a href="tel:8(800) 550 08 85">8(800) 550 08 85</a>
                    <a href="mailto:invest-forum@avg-company.ru" class="mail-info">invest-forum@avg-company.ru</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="uk-container uk-container-center">
        <h3 class="header__title_info"><span>30 Ноября в 19:00</span> <br>  Рэдиссон Славянская, Москва</h3>
        <h2 class="header__title">Владимир Кузовлев, Ольга Прохода, Олег Дмитриев, ведущий конференции Олег Богданов и особая Звездная Гостья</h2>
        <h4 class="header__title_text">1 и 2 декабря — частные консультации и парад мастер-классов (площадка Парк Мира)</h4>

        <div class="header__btns uk-text-center">
            <a href="#reg-switch" class="uk-button header__btns_btn" data-uk-smooth-scroll>Зарегистрироваться</a>
        </div>

        <div class="b__timer">
            <div class="uk-grid uk-grid-large" data-uk-grid-margin>
                <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-2-6">
                    <h4 class="b__timer_title">До начала форума осталось:</h4>
                </div>
                <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-2-6">
                    <ul class="b__timer_info info">
                        <li class="info__item">
                            <p class="info__item_time">25</p>
                            <p class="info__item_text">дней</p>
                        </li>
                        <li class="info__item">
                            <p class="info__item_time">15</p>
                            <p class="info__item_text">часов</p>
                        </li>
                        <li class="info__item">
                            <p class="info__item_time">48</p>
                            <p class="info__item_text">минут</p>
                        </li>
                        <li class="info__item">
                            <p class="info__item_time">05</p>
                            <p class="info__item_text">секунд</p>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-2-6">
                    <div class="b__timer_btn">
                        <a href="#" class="uk-button"> <i class="btn1-plus"></i> Участвовать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>