<header class="header">
    <nav class="uk-navbar">
        <div class="uk-container uk-container-center">
            <a href="#" class="uk-navbar-brand"><img src="images/logo.png" alt="LARSON&HOLZ LOGO" class="logo"></a>
            <div class="uk-navbar-flip">
                <div class="nav-info lang-info uk-hidden-small">
                    <a href="#" class="uk-active">Ru</a> | <a href="#">En</a>
                </div>
                <div class="nav-info phone-info uk-hidden-small">
                    <a href="tel:8(800) 550 08 85">8(800) 550 08 85</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="uk-container uk-container-center">
        <h3 class="header__title_info">30 Ноября в 19:00  •  Рэдиссон Славянская, Москва</h3>
        <h1 class="header__title">ЕЖЕГОДНЫЙ БИЗНЕС ФОРУМ</h1>
        <h4 class="header__title_text">БОЛЬШОЙ ЕЖЕГОДНЫЙ ЭКОНОМИЧЕСКИЙ ФОРУМ МОСКВА-2016</h4>
        <h4 class="header__title_text">1 и 2 декабря — частные консультации и парад мастер-классов (площадка Парк Мира)</h4>

        <div class="header__info">
            <div class="uk-grid uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-large uk-margin-small-top" data-uk-grid-margin>
                <div class="uk-text-center">
                    <i class="fri fri-circle-d-small"></i>
                    <p class="section__text--clight">Антикризисное управление. Могут ли санкции принести доход?</p>
                </div>
                <div class="uk-text-center">
                    <i class="fri fri-web-small"></i>
                    <p class="section__text--clight">Почему клиенты выбирают партнерство с Ларсон Холц?</p>
                </div>
                <div class="uk-text-center">
                    <i class="fri fri-graph-small"></i>
                    <p class="section__text--clight">Инвестиционное планирование. Расчет доходности. Риск-менеджмент.</p>
                </div>
            </div>
        </div>

        <div class="header__btns uk-text-center">
            <a href="#reg-switch" class="uk-button header__btns_btn" data-uk-smooth-scroll>Зарегистрироваться</a>
            <span class="header__btns_text uk-hidden-small">или</span>
            <a class="header__btns_link" href="#video-modal-2" data-uk-modal="{center:true}">Смотреть промо-ролик</a>
        </div>

        <div class="b__timer">
            <div class="uk-grid uk-grid-large" data-uk-grid-margin>
                <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-2-5">
                    <h4 class="b__timer_title">До начала форума осталось:</h4>
                </div>
                <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-2-5">
                    <ul class="b__timer_info info">
                        <li class="info__item">
                            <p class="info__item_time">25</p>
                            <p class="info__item_text">дней</p>
                        </li>
                        <li class="info__item">
                            <p class="info__item_time">15</p>
                            <p class="info__item_text">часов</p>
                        </li>
                        <li class="info__item">
                            <p class="info__item_time">48</p>
                            <p class="info__item_text">минут</p>
                        </li>
                        <li class="info__item">
                            <p class="info__item_time">05</p>
                            <p class="info__item_text">секунд</p>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-5">
                    <div class="b__timer_btn">
                        <a href="#" class="uk-button"> <i class="btn1-plus"></i> Участвовать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>